.footer {
    background-color: var(--colorwhite);
    color: var(--colorblack);
    text-align: center;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    cursor: default;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}