.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  margin: 0;
  padding: 0;
  z-index: 1000;

  background: var(--colorwhite);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: default;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-company {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.header-logo {
  align-self: center;
  width: 70px;
  margin: 0 10px 0 10px;
}
.header-title {
  align-self: center;
  width: 250px;
  font-family: var(--font1);
  font-weight: 500;
  font-size: x-large;
  text-shadow: 2px 2px 3px grey;
}
.language-select {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.language-select:hover {
  border-color: #888;
}
.header-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

/* Responsive Styles */

@media (max-width: 767px) {
  .header-logo {
    width: 60px;
  }
} 

