/* Navbar container */
.navbar {
  color: black;
  padding: 0;
  padding-right: 20px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorwhite);
  overflow: visible;
  max-width: 100%;
  height: 46px;
}
  
/* Menu styling */
.menu {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
  
.menu button {
  border: none;
  background: none;
  color: black;
  font-family: var(--font1);
  font-size: 1.2rem;
  padding: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.menu button:hover {
  color: var(--color1)
}
  

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1010;
  display: flex;
  flex-direction: column;
}

.dropdown-content button {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}
  
.dropdown-content button:hover {
  background-color: var(--color3);
}
  
/* Hamburger Menu */
.toggle {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

/* Responsive Styles */
@media (max-width: 674px) {
  .menu {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--color2);
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 100px;
    left: 0;

    /* Clip-path hides the menu vertically */
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.4s ease-in-out;
    z-index: 999;
  }

  .menu.open {
    clip-path: inset(0 0 0 0);
  }

  .toggle {
    display: block;
  }
} 