#blog {
    position: relative;
    width: 100%;
    height: 600px;
    min-height: fit-content;
    background: var(--colorwhite);
    margin: 0;
    padding: 0;
}
  
.blog-title {
    margin: 15px 0;
    padding: 0;
    font-size: 3rem;
    text-align: center;
    animation: slideInLeft 1s ease-out;
}
  
.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}
  
.blog-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    width: 30%;
    min-width: 250px;
    max-width: 350px;
}

.blog-card:hover {
    transform: scale(1.05);
}
  
.blog-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.blog-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
  
.blog-info h3 {
    font-size: 1.2rem;
    margin: 0;
}

.blog-info p {
    color: #666;
    font-size: 0.9rem;
    margin: 10px 0 0 0;
}

.blog-preview {
    overflow: hidden;
    position: relative;
    max-height: 60px;
    margin: 0;
}
  
.blog-preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(transparent, white);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
  
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.close-button:hover {
    color: #ff0000;
}
  
.modal-body {
    display: flex;
}

.modal-body img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.modal-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.modal-info h3 {
    margin-bottom: 10px;
}

.modal-info p {
    margin: 0 0 10px 0;
    line-height: 1.5;
}

  /* Slide-in Animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}