#showcase {
    position: relative;
    width: 100%;
    min-height: fit-content;
    background: var(--colorwhite);
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.showcase-span {
    margin: 0 30px;
    max-width: 1024px;
}