#root, main {
  display: block;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  scroll-behavior: smooth;
	margin: 0;
	font-family: var(--font1);
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
}

.content {
  width: 100%;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 0;
  width: 100%;
}


