
  
  
  img {
    width: 100%;
    height: auto;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
  }
  
  form button {
    padding: 1rem;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
  }
  